<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
        <title>About Beer Budy</title>
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">BeerBuddy</a>
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/contact">Contact</a>
                <a class="active" href="/about">About</a>
            </div>
        </div>
        
        <div class="borderForm">

            <h1>About</h1>

            <p>
            Welcome to BeerBuddy! Australia's fastest growing Pub beer rating portal based on recent Git commits. 
            </p>
            <p>
            If you ever want to see the ratings of beers served in pubs before heading our or even want to submit your own to share your experiences, this is place to be.
            </p>
            <p>
            The goal of our portal is simple....When you visit a pub and wan't to submit a rating on the beer served, simply press a few buttons on your device and presto... you're done. 
            </p>
            The portal then updates your rating(s) and combines it with everyone else. Simple. Effective. Social.
            </p>
        </div>
        
        <div class="footer">
            <p>&copy; 2020 By: Shailesh, Peter, Tim & Glen</p>
        </div>
    </body>
</html>
