<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>New Beer Rating</title>
    </head>
    <body>
        <h1>Please enter your rating</h1>

        <form action="">
            <label>Pub name:</label>
            <label for=""></label>
            <br />
            <label for="">Beer Type</label>
            <select name="" id="">
                <option value="Amber Ale">Amber Ale</option>
                <option value="Dark Beer">Dark Beer</option>
                <option value="Belgian">Belgian</option>
                <option value="Pale Ale">Pale Ale</option>
                <option value="Lager">Lager</option>
                <option value="Stout">Stout</option>
                <option value="Pilsner">Pilsner</option>
            </select>
            <br />
            <label for="">Beer Brand</label>
            <select name="" id="">
                <option value="VB">VB</option>
                <option value="Heineken">Heineken</option>
                <option value="Guiness">Guiness</option>
            </select>
            <br />
            <label for="">Beer Rating</label>
            <select name="" id="">
                <option value="5">5-Star</option>
                <option value="4">4-Star</option>
                <option value="3">3-Star</option>
                <option value="2">2-Star</option>
                <option value="1">1-Star</option>
            </select>
            <br />
            <button>Submit</button>
            <button>Return</button>
        </form>
    </body>
</html>
